body {
    margin: 0;
}

table {
    margin: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.darkbg {
    background: #232f3e;
}

#topbar {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20pt;
    color: white;
    border-bottom: 1px solid #888888;
}

#todos-wrapper {
    margin: 40px 0px 0px 0px;
    border-bottom: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
}

#todos-overview {
    margin: 40px 0px 0px 0px;
    border-right: 1px solid #dcdcdc;
    text-align: left;
}

#todo-input {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-top: 1px solid #dcdcdc;
    font-size: 24px;
    padding: 5px 0 5px 0px;
    width: 500px
}

.todo-completed {
    color: #aaaaaa;
}

.nav-icon {
    width: 64px;
}

.todo-status img {
    width: 24px;
    vertical-align: middle;
}

.todo-view {
    font-size: 24px;
    margin: 0px;
    padding: 5px 0 5px 0px;
    border-top: 1px solid #dcdcdc;
    min-width: 500px;
}

#navbar {
    vertical-align: top;
    width: 100px;
    color: white;
}

#navbar a.active {
    color: #ffffff;
}

#navbar li {
    /*border-top: 1px solid #555555;*/
    border-bottom: 1px solid #5e5e5e;
    padding: 10px 0px 5px 0px;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#navbar a {
    color: #aaaaaa;
    text-decoration: none;
}

#content-wrapper {
    min-height: 800px;
    min-width: 800px;
    padding-left: 5px;
}

.todo-delete button {
    border: 0;
    background: none;
}

.todo-delete img {
    width: 20px;
}

.todo-delete {
    float: right;
}