body {
    margin: 0;
}

table {
    margin: 0;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

.darkbg {
    background: #232f3e;
}

#topbar {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20pt;
    color: white;
    border-bottom: 1px solid #888888;
}

#todos-wrapper {
    margin: 40px 0px 0px 0px;
    padding-left: 0;
    /*border-bottom: 1px solid #dcdcdc;*/
    /*border-left: 1px solid #dcdcdc;*/
}

#todos-overview {
    margin: 40px 0px 0px 0px;
    border-right: 1px solid #dcdcdc;
    text-align: left;
    font-size: 14pt;
}

#todo-input {
    border: 1px solid #dcdcdc;
    font-size: 24px;
    padding: 5px 0 5px 5px;
    width: 100%
}

.todo-completed {
    color: #aaaaaa;
    text-decoration: line-through;
}

.nav-icon {
    width: 50px;
}

.todo-status img {
    width: 24px;
    vertical-align: middle;
}

.todo-view {
    font-size: 24px;
    margin: 0px;
    padding: 5px 0 5px 0px;
    border-bottom: 1px solid #dcdcdc;
    min-width: 500px;
}

.todo-view input[type=checkbox] {
    display:none;
}

.todo-view input[type=checkbox] + label {
    border: 2px solid #aaaaaa;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin: 0 0 -2px 0px;
}

.todo-view input[type=checkbox]:checked + label {
    background: #aaaaaa;
    height: 20px;
    width: 20px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin: 0 0 -2px 0px;
}

#todos-report-wrapper {
    border-left: 3px solid #008000;
    min-height: 800px;
}

#navbar {
    vertical-align: top;
    min-width: 100px;
    color: white;
}

#navbar a.active {
    color: white;
    font-weight: bold;
}

#navbar li {
    border-bottom: 1px solid #5e5e5e;
    padding: 10px 0px 5px 0px;
    opacity: 0.4;
}

#navbar li:hover {
    /*background-color: yellow;*/
    opacity: 1.0;

}

#navbar a.active li {
    opacity: 1.0;
}

#navbar ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

#navbar a {
    color: #aaaaaa;
    text-decoration: none;
}

#content-wrapper {
    min-height: 800px;
    padding-left: 5px;
}

#content-td {
    width: 100%;
}

.todo-delete button {
    border: 0;
    background: none;
}

.todo-delete img {
    width: 20px;
}

.todo-delete {
    float: right;
}

.bydate li {
    font-size: 20px;
}
